<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	
	//var update = document.getElementById('update')

/*update.addEventListener('click', function () {
  fetch('quotes', {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      'name': 'Darth Vader',
      'quote': 'I find your lack of faith disturbing.'
    })
  })
  .then(response => {
    if (response.ok) return response.json()
  })
  .then(data => {
    console.log(data)
  })
})
	*/
		var update=function(){
			//console.log("Hello my world");
			var x = document.getElementById("updateText").value;
			var y = document.getElementById("updateQuote").value;
			fetch('quotes', {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      'name': x,
      'quote': y
    })
  })
  .then(response => {
    if (response.ok) return response.json()
  })
  .then(data => {
    window.location.reload();
  })
		};
		
		var deleteFunc=function(){
			var y = document.getElementById("deleteText").value;
			
			  fetch('quotes', {
    method: 'delete',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      'name': y
    })
  }).then(function (response) {
    window.location.reload()
  })	
		}
		
	</script>
</head>

<body>
	
	<div class="container">
	
	<div class="row">
		
		<div class="col-md-12">
		
		<h2><span class="label label-default">My first MEAN Stack App (Souvik).....</span></h2>
			
			<div class="col-md-3"><h6><li><span  class="label label-info">Back End and Front End- Javascript</span></li></h6></div>
			<div class="col-md-3"><h6><li><span  class="label label-info">Database- MongoDb</span></li></h6></div>
			<div class="col-md-3"><h6><li><span  class="label label-info">Server- Express</span></li></h6></div>
			<div class="col-md-3"><h6><li><span  class="label label-info">Node.js</span></li></h6></div>
		</div>
		
		
	<div class="col-md-6">
			<h4><span class="label label-success">Quotes fetched from database</span></h4>
		
		<ul class="list-group">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="list-group-item list-group-item-default">
      
		<span><blockquote><%= quotes[i].quote %>
			
			<footer>By <span><%= quotes[i].name %></span> </footer>
			
			</blockquote></span>
    </li>
  <% } %>
</ul>		
		</div>
		
		
		<div class="col-md-6">
			
			<h4><span class="label label-warning">Add New Quote</span></h4>
		
<form action="/quotes" method="POST">
	<div class="form-group"><input type="text" placeholder="name" name="name" class="form-control" required> </div>
    <div class="form-group">
	<input type="text" placeholder="quote" name="quote" class="form-control" required>
	</div>
    
    <button type="submit" class="btn btn-info">Submit</button>
  </form>	
			<hr>
<div>
<h4><span class="label label-success">Update Quote</span></h4>
		
	<div class="form-group"><input type="text" id="updateText" placeholder="Please provide the name...." class="form-control" required></div>
	<div class="form-group"><input type="text" id="updateQuote" placeholder="Please provide the Quote...." class="form-control" required></div>
	
  <button id="update" onclick="update()" class="btn btn-primary"> Update Your Quote Now</button>
</div>
			<hr>
	<div>
  <h4><span class="label label-danger">Delete Quote</span></h4>
		<div class="form-group"><input type="text" id="deleteText" placeholder="Please provide the name...." class="form-control" required></div>
  <button id="delete" onclick="deleteFunc()" class="btn btn-danger"> Delete Quote </button>
</div>
		
		
		
		</div>
		
 		
		
		
		</div>
	
	
	</div>
	
	
	
</body>
</html>